.btn_send {background-color: #203D50}.box_hd .title_wrap {background-color: #203D50}
.box{
background-color: #023658;
}
.bubble.bubble_primary {
background-color: #203D50
}
.bubble.bubble_default {
background-color: #203D50
}
html{
color: #fff
}
.bubble{
font-size: 18px
}
